{{ loadAsset('@JarvesDemoThemeBundle/base.css') }}

<div class="header">
    <div class="wrapper">
        <div class="header-top">
            {{ navigationLevel(1) }}
        </div>
        <div class="header-logo">
            <a href="{{ baseUrl }}">
                {% if themeOptions.logo is defined %}
                    <img src="{{ resizeImage(themeOptions.logo, '90x90') }}" align="left"/>
                {% endif %}
                <span class="header-logo-title">{{ themeOptions.title|default('Title') }}</span><br/>
                <span class="header-logo-slogan">{{ themeOptions.slogan|default('Slogan') }}</span>
            </a>
        </div>

        <div class="header-subnavi">
            {{ navigationLevel(2) }}
        </div>

        <div class="header-search">
            <form action="{% if themeOptions.searchPage is defined %}{{ themeOptions.searchPage|url }}{% endif %}" method="get">
                <input type="text" name="q" placeholder="{{ t('Keyword ...') }}"/>
                <input type="submit" class="submit" value="{{ tc('searchButton', 'Search') }}"/>
                <input type="hidden" name="searchDo" value="1"/>
            </form>
        </div>
    </div>
</div>

<div class="content">
    <div class="wrapper">
        <div class="content-main">
            <div class="content-main-padding">
                {{ breadcrumb() }}

                {% contents '1' %}
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="wrapper">footer-box
        <div class="footer-box">
            <div class="footer-box-padding">
                <table width="100%">
                    <tr>
                        <td valign="top">
                            {% if themeOptions.footerTray|default(0) > 0 %}
                                {{ tray(themeOptions.footerTray) }}
                            {% else %}
                                Please set "Footer tray" under Nodes » Domain » Theme
                            {% endif %}
                        </td>
                        <td align="right" valign="top">

                            {% if themeOptions.footerNavigation|default(0) > 0 %}
                                {{ navigationNode(themeOptions.footerNavigation) }}
                            {% else %}
                                Please set "Footer navigation" under Nodes » Domain » Theme
                            {% endif %}
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>